/*test background color to see if it linked to the html pages -JH*/
/*body{
	background-color:red;}*/
	
/* Nav bar created by OJ */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  /*color: blue;*/
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 15px;
  text-decoration: none;
  font-size: 36px;
  /*color: #818181;*/
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 50px;
  font-size: 36px;
  margin-left: 100px;
}
}

#main {
  transition: margin-left .5s;
}

@media{
.one{ 
	color: slateblue;
	text-align: center;
	margin: auto;
	padding-top: 2px;
}
h3{
	margin-top: 60px;
	text-align: center;
}
p{
	margin-left: 10px;
}
/* end of nav bar css */
.headingsJH{
	text-align:center;
}
.topImageJH{
	margin:5%;
	margin-top:5%;
	margin-bottom:1%;
	height:250px;
	width:90%;
	
}

.funFactJH{
	background-color:transperent;
	perspective:1000px;
	width:33%;
	float:right;
	margin:5%;
	margin-top:0%;
}
.funFactInnerJH{
	position: relative;
	width:100%;
	height:100%;
	text-align:center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);


	
}
.funFactJH:hover .funFactInnerJH{
	transform:rotateY(180deg);
}
.funFactFrontJH,.funFactBackJH{
	position: absolute;
	width:100%;
	height:100%;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
}
.funFactFrontJH{
	background-color:#bbb;
	color:black;
}
.funFactBackJH{
	background-color:#2980b9;
	color:black;
	transform:rotateY(180deg);
}
.funFactImageJH{
	height:auto;
	width:100%;
}
.infoJH{
	width:50%;
	margin:5%;
}